.header-container{
    display: flex;
    padding: 40px 0;
    width: 100%;
    background-color: none;
    height: var(--header-height);
    align-items: center;
}

.header-logo{
    flex: 1;
}

.header-logo__text{
    margin: 0;
    font-size: 2rem;
    
    color: var(--white);
}

.header-menu__list{
    display: flex;
    margin: 0;
    padding: 0;
    list-style: none;
}

.header-menu__item{

}

.header-menu__link{
    text-decoration: none;
    padding: 0 20px;
    font-size: 1.6rem;
    
    color: var(--white);
}
.my-header,
.my-body{
    background-image: -webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
}
.my-body{
    
    height: calc(100vh - var(--header-height));
    
}
.my-body__rel{
    position: relative;
}
.my-body__container{
    position: absolute;
    top: 50%;
    right: 0;
    height: 100vh;
    width: 100%;
    margin-top: 80px;
    background-color: var(--white);
    border-radius: 16px;
    display: flex;
    box-shadow: 0px 20px 80px 0px rgb(153 153 153 / 30%);
}

.my-body__imgs{
    padding: 36px;
    width: 80%;
    border-radius: 20px;
    overflow: hidden;
}
.my-body__img{
    height: 100%;
    border-radius: 15px;
    
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.my-body__content{
    width: 500px;
    margin: 120px 80px 40px;
    /* margin: 80px 40px 80px 90px; */
}
.my-body__hello{
    font-size: 2rem;
    font-weight: 400;
    margin-bottom: 24px;
    color: var(--heading-color);
}
.my-body__name{
    font-size: 3.4rem;
    font-weight: 700;
    margin-bottom: 24px;
    color: var(--heading-color);
}
.my-body__major{
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 24px;
    color: var(--heading-color);
}
.my-body__description{
    font-size: 1.6rem;
    font-weight: 400;
    margin-bottom: 24px;
    line-height: 3rem;
    color: var(--text-color);
}

.my-body__list{
    margin-top: 46px;
    list-style: none;
}
.my-body__link{
    text-decoration: none;
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 3rem;
    padding: 8px 0;
    display: block;
}
.my-body__icon{
    margin-right: 12px;
    font-size: 2rem;
    color: var(--btn-hover-color);
}

.my-body__ct-list{
    margin-top: 46px;
    list-style: none;
    display: flex;
}
.my-body__ct-item{
    margin-right: 12px;
}
.my-body__ct-link{
    text-decoration: none;
    font-size: 1.8rem;
    padding: 8px 12px;
    color: var(--text-color);
    background-color: var(--btn-color);
    border-radius: 3px;
}
.my-about{
    background-color: var(--bg-color);
}

.my-about__seft{
    padding-top: 275px;
    background: none;
}
/* About */
.my-about__seft-name{
    font-size: 3.4rem;
    color: var(--heading-color);
}
.my-about__seft-description{
    margin-top: 36px;
    font-size: 1.6rem;
    line-height: 3rem;
    opacity: 0.4;
    color: var(--heading-color);
    
    flex: 1;
}
.my-about__seft-left{
    display: flex;
    flex-direction: column;

}
.my-about__seft-cv{
    padding: 16px 12px;
    display: block;
    text-decoration: none;
    font-size: 1.6rem;
    text-align: center;
    color: var(--heading-color);
    margin-bottom: 36px;
    border-radius: 4px;
    background-color: var(--btn-color);
}
/* Progress */
.my-progress__name{
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--heading-color);
}
.progress-box{
    width: 90%;
    margin: 12px 0 36px;
    padding: 4px 4px;
    border-radius: 15px;
    border: 2px solid #e8e8e8;
}
.progress-bar{
    height: 8px;
    width: 100%;
    border-radius: 15px;
    background-color: var(--btn-color);
}
.progess{
    height: 100%;
    border-radius: 15px;
    background-image: -webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);
}
.progess--html{
    width: 90%;
}
.progess--js{
    width: 85%;
}
.progess--git{
    width: 93%;
}
.progess--en{
    width: 70%;
}
.progess--ot{
    width: 99%;
}

.my-info-date{
    background-image: -webkit-linear-gradient(0deg, #766dff 0%, #88f3ff 100%);;
}
.my-info-list-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 80px 0;
}
.my-info__btn{
    min-width: 140px;
    height: 40px;
    margin: 0 12px;
    border: none;
    outline: none;
    font-size: 1.4rem;
    font-weight: 500;
    border-radius: 4px;
    color: var(--white);
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
}
.my-info__btn--active{
    background-color: var(--white);
    color: var(--heading-color);
}
.my-info__edu{
    display: flex;
    justify-content: center;
    padding-bottom: 64px;
}
.my-info__edu-list{
    list-style: none;
    position: relative;
}
.my-info__edu-list::before{
    content: "";
    position: absolute;
    height: 100%;
    width: 5px;
    background: rgba(255, 255, 255, 0.2);
    left: 25%;
    transform: translateX(-50%);
    top: -5px;
}
.my-info__edu-item{
    display: flex;
    align-items: center;
    margin: 64px 0;
    position: relative;
}
.my-info__edu-content{
    max-width: 360px;
}
.my-info__edu-year{
    margin-right: 80px;
    font-size: 1.6rem;
    color: var(--btn-color);
    font-weight: 600;
}
.my-info__edu-head{
    margin-bottom: 16px;
    font-size: 2rem;
    color: var(--white);
}
.my-info__edu-des{
    font-size: 1.6rem;
    color: var(--btn-color);
    font-weight: 200;
    line-height: 2.4rem;
}
.circle::before{
    content: '';
    height: 10px;
    width: 10px;
    background: #fff;
    border-radius: 50%;
    position: absolute;
    left: 25%;
    top: 21px;
    transform: translateX(-50%);
}
.my-favorite{
    background-color: var(--bg-color);
}
.my-favorite__heading{
    padding: 64px 0;
    text-align: center;
}
.my-favorite__head{
    font-size: 3.6rem;
    margin-bottom: 24px;
}
.my-favorite__des{
    font-size: 1.6rem;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    line-height: 26px;
    color: #777777;
    margin-bottom: 0px
}
.project-box{
    margin: 12px 0;
    background-color: var(--white);
    padding: 20px;
    border-radius: 4px;
    box-shadow: 0px 20px 80px 0px rgb(153 153 153 / 30%);
}
.project-heading{
    font-size: 2.4rem;
    margin-bottom: 12px;
}
.project-des{
    font-size: 1.6rem;
    font-family: "Roboto", sans-serif;
    font-weight: normal;
    line-height: 26px;
    color: #777777;
    margin-bottom: 16px;
}
.view-project__list{
    display: flex;
    list-style: none;
    justify-content: flex-start;
}
.view-project__item{
    margin-right: 12px;
}
.view-project__link{
    text-decoration: none;
    font-size: 1.6rem;
    padding: 8px 12px;
    color: var(--heading-color);
    display: block;
    border-radius: 4px;
    background-color: var(--btn-color);
}
.project-container{
    padding-bottom: 64px;
}
.my-footer{
    background-color: #000;
}
.my-footer-container{
    padding: 64px 0;
}
.footer-heading{
    font-size: 2.4rem;
    color: var(--white);
}
.footer-des{
    color: var(--text-color);
    font-size: 1.4rem;
    margin-top: 16px;
    line-height: 2rem;
}
.footer-des a{
    text-decoration: none;
    color: #7b94fe;
}
.footer-input,
.footer-btn{
    margin-top: 16px;
    padding: 8px 8px;
    font-size: 1.6rem;
    outline: none;
    border: none;
    border-radius: 2px;
    background: rgba(255, 255, 255, 0.2);
    color: var(--btn-color);
}
.footer-btn{
    background: rgba(255, 255, 255, 0.2);
    cursor: pointer;
}
.footer-follow a{
    background: rgba(255, 255, 255, 0.2);
}
.footer-end{
    text-align: center;
    padding-top: 24px;
}
/* Hover btn */
.footer-btn:hover,
.view-project__link:hover,
.my-about__seft-cv:hover,
.my-body__ct-link:hover{
    color: var(--white);
    background-color: var(--btn-hover-color);
}
